.container-fluid {
    padding: 15px;
}
.left-panel{
    background-color: gray;
}
.left-panel .list-group-flush>.list-group-item {
    background-color: transparent;
    border-color: white;
    /* border: 1px solid; */
    border-width: 1px;
    margin: 2% 0%;
    border-radius: 10px;
}
.left-panel a {
    color: white;
}
.right-panel .form-control{
    width: 40%;
    margin: 2% 0%;
}

.btn-add-prof{
    border: 1px solid #000000;
    padding: 7px 40px;
}